body{
  /*background: red;*/
}

.container{
  width: 100vw;
}



.frame{
  /*background: #fff;*/
  width: 90px;
  height: 90px;
  padding: 60px; 
  float: left;
  display: inline;
  margin: 5px;
}


.aa {
  color: white;
  position: relative;
  font-size: 100px;
  top:20px;
  font-family: 'Quicksand', sans-serif;
  display: none;
}


.zzz {
  color: white;
  position: relative;
  font-size: 50px;
  top:9px;
  font-family: 'Quicksand', sans-serif;
  display: none;
}


.bb {
  color: white;
  position: relative;
  font-size: 100px;
  top:-46px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.cc {
  color: white;
  position: relative;
  font-size: 100px;
  top:-70px;
  left: -30px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.dd {
  color: white;
  position: relative;
  font-size: 100px;
  top:-143px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  display: none;
}

.ee {
  color: white;
  position: relative;
  font-size: 100px;
  top:-20px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.ff {
  color: white;
  position: absolute;
  font-size: 100px;
  top:40px;
  left: 1200px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}


.gg {
  color: white;
  position: absolute;
  font-size: 100px;
  top:40px;
  left: 1400px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.hh {
     color: white;
    position: relative;
    font-size: 100px;
    top: -117px;
    left: 41px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
    display: none;
}

.ii {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.jj {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left: 10px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.kk {
  color: white;
  position: relative;
  font-size: 100px;
  top:-123px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;

}

.ll {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}


.mm {
    color: white;
    position: relative;
    font-size: 100px;
    top: -156px;
    left: 66px;
    font-family: 'Quicksand', sans-serif;
    z-index: 1;
    transform: rotate(90deg);
    display: none;
}

.nn {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.oo {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}
.pp {
  color: white;
  position: relative;
  font-size: 100px;
  top: -180px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.qq {
  color: white;
  position: relative;
  font-size: 100px;
  top:-80px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.rr {
  color: white;
  position: relative;
  font-size: 100px;
  top: -94px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.ss {
  color: white;
  position: relative;
  font-size: 100px;
  top:-103px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}


.tt {
  color: white;
  position: relative;
  font-size: 100px;
  top:-20px;
  left:-15px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}


.uu {
  color: white;
  position: relative;
  font-size: 100px;
  top:-60px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.vv {
  color: white;
  position: relative;
  font-size: 100px;
  top: -170px;
  left: -20px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.ww {
  color: white;
  position: relative;
  font-size: 100px;
  top: -179px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.xx {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}


.yy {
  color: white;
  position: relative;
  font-size: 100px;
  top:-30px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.zz {
  color: white;
  position: relative;
  font-size: 100px;
  top:0px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;

}


.onee {
  color: white;
  position: relative;
  font-size: 100px;
  top:-100px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.twoo {
  color: white;
  position: relative;
  font-size: 100px;
  top:-150px;
  left: 80px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.thre {
  color: white;
  position: relative;
  font-size: 100px;
  top: -71px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.fourr {
  color: white;
  position: relative;
  font-size: 100px;
  top: -104px;
  left: 32px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.fiveee {
  color: white;
  position: relative;
  font-size: 100px;
  top: -102px;
  left: 11px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none
}
.sixxx {
  color: white;
  position: relative;
  font-size: 100px;
  top: -165px;
  left: 17px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.sevenn {
  color: white;
  position: relative;
  font-size: 100px;
  top: -221px;
  left: 0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.eightt {
  color: white;
  position: relative;
  font-size: 100px;
  top:-100px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.nineee {
  color: white;
  position: relative;
  font-size: 100px;
  top: -121px;
  left: 95px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.tenn {
  color: white;
  position: relative;
  font-size: 100px;
  top: -166px;
  left:0px;
  font-family: 'Quicksand', sans-serif;
  z-index: 1;
  display: none;
}

.square{
  position:absolute;
  width: 5px;
  height: 5px;
  background-color: black;

}

.squaregroup{
 /*display: none;*/
 opacity: 0;
 transition: 400ms all;
}

.a:hover .squaregroup{
  opacity: 1;
}


.squaregroup2{
 display: none;


}



.a1{
  left: 100px;
}

.a2{
  top:60px;
}

.a3{
background-color: white;
top: 100px;
}
.a4{
background-color: white;
top: 120px;
}
.a5{
  background-color: black;
  top:90px;
  left: 70px;
}
.a6{
background-color: white;
top: 140px;
left: 90px;
}

.a7{
background-color: black;
top: 60px;
left: 120px;
}

.a8{
background-color: black;
top: 160px;
left: 190px;
}
.a9{
background-color: black;
top: 130px;
left: 210px;
}
.a10{
background-color: black;
top: 100px;
left: 170px;
}

.a11{
background-color: white;
top: 160px;
left:100px;
}


.b1{
  background-color: white;
  left: 300px;
}

.b2{
  background-color: white;
  top:80px;
}

.b3{

top: 50px;
}
.b4{
 background-color: white;
top: 120px;
}
.b5{
  background-color: black;
  top:90px;
  left: 250px;
}
.b6{

top: 140px;
left: 280px;
}

.b7{
  background-color: black;
top: 60px;
left: 380px;
}

.b8{
  background-color: black;
top: 160px;
left: 400px;
}
.b9{
  background-color: black;
top: 130px;
left: 420px;
}
.b10{
  background-color: black;
top: 100px;
left: 410px;
}

.b11{
background-color: white;
top: 160px;
left:350px;
}

 /* box-shadow: 0 0 5px #000;*/


/*.frame:hover{
  transform: scale(1.1);
}*/


/*.frame:hover{
 
  
  
  display: none;
}*/

.asquare{
  position:absolute;
  top: 140px;
  width: 160px;
  left:60px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(45deg);

}

.asquare2{
  position:absolute;
  top: 140px;
  width: 160px;
  left:60px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(-45deg);

}
.asquaregg{
  display: none}

.wsquaregg{
  display: none}

.wsquare{
  position:relative;
  top: -80px;
  width: 160px;
  left:-40px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(45deg);

}

.wsquare2{
  position:relative;
  top: -80px;
  width: 160px;
  left:-40px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(-45deg);

}
.ssquaregg{
  display: none}

.ssquare{
  position:relative;
  top: -67px;
  width: 160px;
  left:-40px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(45deg);

}

.ssquare2{
  position:relative;
  top: -80px;
  width: 160px;
  left:-40px;
  height: 10px;
  background-color: black;
  /*display: none;*/
  transform: rotate(-45deg);

}
 .longc{display: none}
 .longq{display: none}
 .longeight{display: none}

.clong{    position: relative;
    top: -56px;
    width: 124px;
    left: 38px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .clong1{    position: relative;
    top: -59px;
    width: 124px;
    left: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
   .clong2{    position: relative;
    top: -62px;
    width: 124px;
    left: 2px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

 .clong3{    position: relative;
    top: -65px;
    width: 124px;
    left: -16px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .clong4{    position: relative;
    top: -68px;
    width: 124px;
    left: -34px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .clong5{    position: relative;
    top: -71px;
    width: 124px;
    left: -52px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

.clong6{    position: relative;
    top: -73px;
    width: 124px;
    left: -70px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }




 .qlong1{    position: relative;
    top: -59px;
    width: 124px;
    left: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
   .qlong2{    position: relative;
    top: -62px;
    width: 124px;
    left: 2px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

 .qlong3{    position: relative;
    top: -65px;
    width: 124px;
    left: -16px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .qlong4{    position: relative;
    top: -68px;
    width: 124px;
    left: -34px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .qlong5{    position: relative;
    top: -71px;
    width: 124px;
    left: -52px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

.qlong6{    position: relative;
    top: -73px;
    width: 124px;
    left: -70px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

.cfillter{filter: blur(7px);
/*display: none;*/}


.eightlong{    position: relative;
    top: -6px;
    width: 124px;
    left: 38px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .eightlong1{    position: relative;
    top: -10px;
    width: 124px;
    left: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
   .eightlong2{    position: relative;
    top: -14px;
    width: 124px;
    left: 2px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

 .eightlong3{    position: relative;
    top: -16px;
    width: 124px;
    left: -16px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .eightlong4{    position: relative;
    top: -18px;
    width: 124px;
    left: -34px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }
  .eightlong5{    position: relative;
    top: -21px;
    width: 124px;
    left: -52px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }

.eightlong6{    position: relative;
    top: -22px;
    width: 124px;
    left: -70px;
    height: 3px;
    background-color: black;
    transform: rotate(90deg);
  }






.a {
  width: 0;
  height: 0;
  border-bottom: solid 100px #000;
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;


}

.b{
  
  height: 60px;



}

.b:before{
  position: absolute;
  content: "";
  height: 50px;
  width: 100px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}

.b:after{
  position: absolute;
  content: ""; 
  height: 50px; 
  width: 100px;
  top:120px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}

.c {
  width: 0;
  height: 0;
  border-radius: 50px;
  border-top: solid 50px #000;
  border-right: solid 50px transparent;
  border-bottom: solid 50px #000;
  border-left: solid 50px #000;
  /*filter: blur(7px);*/
}

.d {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 0 50px 50px 0;
}










.e{
  background: white;
  width: 50px;
  height: 50px;
  z-index: 1px;
}



.e,.e-half{
  
  height: 100px;
  z-index: -1px;

}
.e:before{
  position: absolute;
  content: "";
  background-color: black;
  height: 100px;
  width: 65px;
}
.e:after{
  position: absolute;
  content: "";
  top: 73px;
  background-color: black;
  height: 35px;
  width: 100px;
}
.e-half:after{
  position: absolute;
  content: "";
  background-color: black;
  bottom:0;
  top: 138px;
  height: 35px;
  width: 100px;
}


.f,.f-half{
 /* display: block;*/
  height: 100px;
}
.f:before{
  position: absolute;
  content: "";
  background-color: black;
  height: 100px;
  width: 50px;
}
.f:after{
  position: absolute;
  content: "";
  top: 33;
  background-color: black;
  height: 63px;
  width: 100px;
}

.g{
  width: 0;
  height: 0;
  border-radius: 50px;
  border-top: solid 50px #000;
  border-right: solid 50px transparent;
  border-bottom: solid 50px #000;
  border-left: solid 50px #000;
  transform: rotate(-45deg);

}




.h,.h-half{
  position: relative;
  display: block;
  height: 100px;
}
.h:before{
     position: absolute;
    content: "";
    background-color: black;
    top: 30px;
    height: 70px;
    width: 105px;
}
.h:after{
  position: absolute;
  content: "";
  background-color: black;
  height: 100px;
  width: 43px;
}
.h-half:before{
    position: absolute;
    content: "";
    left: 73px;
    background-color: black;
    height: 100px;
    width: 43px;
    top: -100px;
}


.j{
  position: relative;
  display: block;
  height: 100px;
}
.j:before{
   position: absolute;
  content: "";
  top: 52px;
  height: 50px;
  width: 100px;
  bottom: 0;
  border-radius: 0px 0px 50px 50px;
  background-color: black;
}
.j:after{
  position: absolute;
  content: "";
  right: -10px;
  top: -8px;
  background-color: black;
  height: 60px;
  width: 50px;
}

.k{
  position: relative;
  display: block;
  height: 100px;
}
.k:before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent transparent black transparent;
}
.k:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 0;
  border-color: transparent transparent black transparent;
   -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}




.m{
  width: 0px;
  height: 0;
  position:absolute;
  float: left;
  margin-left: 35px;
  border-left: 0px solid transparent;
  border-right: 70px solid transparent;
  border-top: 110px solid black;
  transform: rotate(180deg);
}
.m:before{
  display:block;
  content:"";
  position:absolute;
  bottom: 0px;
  left: 30px;
  border-left: 70px solid transparent;
  border-right: 0px solid transparent;
  border-top: 110px solid black;
  transform: rotate(360deg);
}



.n{
  position:absolute;
  float: left;
 top:290px;
  margin-left: 15px;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 120px solid black;
}
.n:before{
  display:block;
  content:"";
 
  position:absolute;
  height: 120px;
  width: 50px;
  left: 50px;
  background: black;
}

.p{
  position: relative;
  display: block;
  height: 100px;
}
.p:before{
  position: absolute;
  content: "";
  height: 65px;
  width: 100px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}
.p:after{
  position: absolute;
  content: "";
  left: 0px;
  width: 50px;
  height: 100px;
  background-color: black;
}

.q{
  position: relative;
  display: block;
  height: 100px;
}
.q:before{
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: black;
}
.q:after{
  position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    right: -10px;
    top: 50px;
    border-style: solid;
    border-width: 0 50px 50px 0px;
}



.r{
  position: relative;
  display: block;
  height: 100px;
}
.r:before{
  position: absolute;
  content: "";
  height: 65px;
  width: 100px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}
.r:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0px;
  border-style: solid;
  border-width: 0 100px 100px 0px;
  border-color: transparent transparent black transparent;
}


.s{
  position: relative;
  display: block;
  height: 100px;
}
.s:before{
  position: absolute;
  content: "";
  height: 65px;
  width: 100px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.s:after{
  position: absolute;
  content: ""; 
  height: 65px; 
  width: 100px;
  top:35px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}


.w{
  position: relative;
  display: block;
  height: 100px;
}
.w:before{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: -10px;
  border-style: solid;
  border-width: 0 35px 100px 35px;
  border-color: transparent transparent black transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.w:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  right: -10px;
  border-style: solid;
  border-width: 0 35px 100px 35px;
  border-color: transparent transparent black transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}


.x{
  position:absolute;
  float: left;
  margin-left: 5px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid black;
}
.x:before{
  display:block;
  content:"";
  position:absolute;
  bottom: 0px;
  left: -60px;
  bottom: -100px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 100px solid black;
}

.y{
  position:absolute;
  float: left;
  margin-left: 50px;
  height: 105px;
  width: 50px;
  background: black;
}
.y:before{
  display:block;
  content:"";
  position:absolute;
  bottom: 0px;
  left: -35px;
  bottom: 20px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 90px solid black;
}

.z{
  position:absolute;
  float: left;
  margin-left: 5px;
  height: 40px;
  width: 120px;
  background: black;
}
.z:before{
  display:block;
  content:"";
  position:absolute;
  bottom: -30px;
  border-left: 120px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 70px solid black;
}
.z:after{
  display:block;
  content:"";
  position:absolute;
  bottom: -70px;
  height: 40px;
  width: 120px;
  background: black;
}

.one{
  position:relative;
  float: left;
  margin-left: 50px;
  height: 110px;
  width: 50px;
  background: black;
}
.one:before{

  display:block;
  content:"";
  position:relative;
  bottom: 0px;
  left: -45px;
  
  bottom: 0px;
  border-left: -10px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid black;
  transform: rotate(180deg);

}



.two{
  position: relative;
  float: left;
  margin-left: 15px;
  border-left: 0px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 120px solid black;
  transform: rotate(270deg);

}
.two:before{
  
  content:"";
  position:absolute;
  height: 90px;
  top: 50px;
  width: 50px;
  left: 40px;
  background: black;
  transform: rotate(90deg);
  
}

.circle6{
  background: #000;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.three{
  position: relative;
  height: 60px;

}

.three:before{
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 50px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}

.three:after{
  position: absolute;
  content: ""; 
  height: 60px; 
  width: 100px;
  top:50px;
  border-radius: 0 30px 30px 0px;
  background-color: black;
}


.threee{

  
    content: "";
    position: relative;
    top: -60px;
    bottom: 0px;
    left: 0;
    bottom: 0px;
    border-left: -10px solid;
    border-left: -12px solid transparent;
    border-right: 0px solid transparent;
    border-top: 34px solid black;
    transform: rotate(180deg);
        width: 60px;

}




.four{
  position:relative;
  float: left;
  margin-left: 50px;
  height: 110px;
  width: 50px;
  background: black;
}
.four:before{

  display:block;
  content:"";
  position:relative;
  bottom: 0px;
  left: -45px;
  
  bottom: 0px;
  border-left: -10px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid black;
  transform: rotate(270deg);

}



.five{
  position:relative;
  float: left;
  margin-left: 10px;
  height: 110px;
  width: 50px;
  background: black;
}
.five:before{

  
  content:"";
  position:absolute;
  top:-70px;
  bottom: 0px;
  left: -15px;
  
  bottom: 0px;
  border-left: -10px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid black;
  transform: rotate(-270deg);

}

.fivee{
   position: relative;
    content: "";
    height: 60px;
    width: 90px;
    top: 50px;
    left: 25px;
    border-radius: 0 30px 30px 0px;
    background-color: black;
}


.six{
  position: relative;

  width: 0;
  height: 0;
  border-radius: 50px;
  border-top: solid 50px #000;
  border-right: solid 50px transparent;
  border-bottom: solid 50px #000;
  border-left: solid 50px #000;
  transform: rotate(-45deg);
}

.sixx{
    position: relative;
    content: "";
    top: -104px;
    bottom: 0px;
    left: 53px;
    bottom: 0px;
    border-left: -10px solid transparent;
    border-right: 34px solid transparent;
    border-top: 45px solid black;
    transform: rotate(-270deg);
    width: 2px;

}
.seven,.seven-half{
  position: relative;
  display: block;
  height: 100px;
}
.seven:before{
  position: absolute;
  content: "";
  left: 50px;
  background-color: black;
  height: 100px;
  width: 50px;
}
.seven:after{
  position: absolute;
  content: "";
  top: 33;
  background-color: black;
  height: 63px;
  width: 100px;
}






.eight{
  position: relative;
  height: 60px;

}

.eight:before{
  position: absolute;
  content: "";
  height: 60px;
  width: 120px;
  border-radius: 30px 30px 30px 30px;
  background-color: black;
}

.eight:after{
  position: absolute;
  content: ""; 
  height: 60px; 
  width: 120px;
  top:50px;
  border-radius: 30px 30px 30px 30px;
  background-color: black;
}

.nine{
  position:relative;
  float: left;
  margin-left: 80px;
  height: 110px;
  width: 50px;
  background: black;
}
.nine:before{

  
  content:"";
  position:absolute;
  top:65px;
  bottom: 0px;
  left: -40px;
  
  bottom: 0px;
  border-left: -10px solid transparent;
  border-right: 40px solid transparent;
  border-top: 50px solid black;
  transform: rotate(-90deg);

}

.ninee{
     position: relative;
    content: "";
    height: 60px;
    width: 70px;
    top: 0;
    left: 30px;
    border-radius: 30px 00px 00px 30px;
    background-color: black;
}





.v{
  width: 0;
  height: 0;
  border-top: solid 100px #000;
  border-left: solid 60px transparent;
  border-right: solid 60px transparent;
}





.o{
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}





.i{
  background: #000;
  width: 45px;
  height: 100px;
  position: relative;
  margin-left: 25px;}

.t{
  background: #000;
  width: 40px;
  height: 100px;
  position: relative;
  margin-left: 33px;
}

.t:before{
  background: #000;
  content: "";
  width: 100px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: -33px;
}


.l{
  background: #000;
  width: 45px;
  height: 100px;
  position: relative;
  margin-left: 0px;
  /*transform: rotate(180deg);*/
}

.l:before{
  background: #000;
  content: "";
  width: 100px;
  height: 45px;
  position: absolute;
  top: 60px;
  left: 0px;
  /*transform: rotate(180deg);*/
}



 


.u{
  background: #000;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 0 0px 50px 50px;
}

.ten{
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}



.frame {
  /*background: #fff;*/
  width: 90px;
  height: 90px;
  padding: 60px;
  float: left;
 /* display: inline;*/
  margin: 5px;
  /*box-shadow: 0 0 5px #000;*/
}

/*.frame:hover {
  transform: scale(1.1);
}*/


.squares{
  position:relative;
  width: 5px;
  height: 5px;
  background-color: black;

}


.ysquaregroup{
 display: none;
}

.y1{
  background-color: white;
  left: 100px;
}

.y2{
  top:60px;
}

.y3{
background-color: black;
top: 100px;
}
.y4{
background-color: black
top: 120px;
}
.y5{
  background-color: black;
  top:90px;
  left: 70px;
}
.y6{
background-color: black;
top: 140px;
left: 90px;
}

.y7{
background-color: black;
top: 60px;
left: 120px;
}

.y8{
background-color: black;
top: 70px;
left: 160px;
}
.y9{
background-color: white;
top: 30px;
left: 70px;
}
.y10{
background-color: black;
top: 100px;
left: 170px;
}

.y11{
background-color: white;
top: 0px;
left:80px;
}



.tsquaregroup{
 display: none;
}

.t1{
  background-color: white;
   left: 63px;
    top: -82px;
}

.t2{
  top: -60px;
}

.t3{
background-color: white;
left: 50px;
    top: -100px;
}
.t4{
background-color: black
top: 120px;
}
.t5{
  background-color: black;
  top:0px;
  left: 70px;
}
.t6{
background-color: black;
top: -50px;
left: 90px;
}

.t7{
background-color: black;
top: -100px;
left: 120px;
}

.t8{
background-color: black;
    top: 0px;
    left: 80px;
}
.t9{
background-color: white;
top: -61px;
    left: 43px;
}
.t10{
background-color: black;
    top: -170px;
    left: 80px;
}

.jsquaregroup{
 display: none;
}

.j1{
  background-color: white;
  left: 49px;
}

.j2{
  top:60px;
}

.j3{
background-color: black;
top: -100px;
}
.j4{
background-color: black
top: -120px;
}
.j5{
  background-color: black;
  top:-90px;
  left: 70px;
}
.j6{
background-color: black;
top: -140px;
left: 90px;
}

.j7{
background-color: black;
top: -100px;
left: 120px;
}

.j8{
background-color: white;
top: -123px;
    left: 61px;
}
.j9{
background-color: white;
top: -77px;
left: 70px;
}
.j10{
background-color: black;
top: 0px;
left: 130px;
}

.j11{
background-color: white;
top: 0px;
left:80px;
}



.threesquaregroup{
 display: none;
}

.three1{
  background-color: white;
   left: 63px;
    top: -82px;
}

.three2{
  top: -60px;
}

.three3{
background-color: white;
left: 50px;
    top: -100px;
}
.three4{
background-color: black
top: 120px;
}
.three5{
  background-color: black;
  top:0px;
  left: 70px;
}
.three6{
background-color: black;
top: -50px;
left: 90px;
}

.three7{
background-color: black;
top: -100px;
left: 120px;
}

.three8{
background-color: black;
    top: 0px;
    left: 80px;
}
.three9{
background-color: white;
top: -61px;
    left: 43px;
}
.three10{
background-color: black;
    top: -170px;
    left: 80px;
}



 .sixlongvertical{display: none}

.vsixlong1{    position: relative;
    top: -156px;
    width: 124px;
    left: 38px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }
  .vsixlong2{    position: relative;
    top: -143px;px;
    width: 124px;
    left: 20px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }
   .vsixlong3{    position: relative;
    top: -130px;
    width: 124px;
    left: 2px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }

 .vsixlong4{    position: relative;
    top: -117px;
    width: 124px;
    left: -16px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }
  .vsixlong5{    position: relative;
    top: -104px;
    width: 124px;
    left: -34px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }
  .vsixlong6{    position: relative;
    top: -93px;
    width: 124px;
    left: -52px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }

.vsixlong7{    position: relative;
    top: -83px;
    width: 124px;
    left: -70px;
    height: 3px;
    background-color: black;
    transform: rotate(180deg);
  }












pre {
  height: 1em;
  color: white;
}

.appear{
  display: initial;

}

.disappear{
  display: none;
}


.a{
  
}

.a:hover{
  
}