  
  * {
    margin: 1px;
    padding: 0px;
  }
  body{background-color: #f8f8f8;
   /*background-image: url('https://s3images.coroflot.com/user_files/individual_files/large_661063_tkxq4mwlkddgrllggnznb5u5y.png');*/
        background-attachment: fixed;
       align-self: center;
      /* background-repeat: no-repeat;*/

        /*background-image: url('https://photos.vanityfair.com/2015/04/20/55357b0b21478db3485e47ff_culture-list-moma-andy-warhol-campbells-soup-01.jpg');*/
        background-image: url('https://media.timeout.com/images/102240165/image.jpg');}
.item:hover {
    color: yellow;
}


#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.menu {
    height: 55px;
    padding-top: 15px;
    background-color: #fff;
}
h1{margin-top: 100px;
  font-style: normal;
  font-size: 23px;
  width: 90%;
    word-spacing: normal;
    text-align: center;
    font-family: "Helvetica", sans-serif;}

  #content {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
/*
  #left-col {
    width: 50vw;
    height: 100vh;
    overflow: scroll;    
    float: left;
    background: #f3f3f3;
  }

  #right-col {
    width: 50vw;
    height: 100vh;
    overflow: scroll;    
    float: right;
    background: #f3f3f3;
  }*/
  
  .item {
    /*border: 1px solid black;*/

    margin: 10px;
   
    
    color: black
    /*background-size: cover;
  background-repeat: no-repeat;
  background-image: url(andy.jpg);;*/
  }
  #test {
    border: 1px solid red;
    padding: 50px;
    margin: 50px;
    min-height: 1400px;
    
    color: black
    /*background-size: cover;
  background-repeat: no-repeat;
  background-image: url(andy.jpg);;*/
  }



  #name {
    width: 90%;
    text-align: center;
    font-size: 30px;
}
  #about2 {
    width: 170%;
    text-align: center;
    font-size: 30px;
    margin-top: -30px;
}


  #about3 {
    width: 180%;
    text-align: center;
    font-size: 30px;
    margin-top: -35px;
}
  #about4 {
    width: 190%;
    text-align: center;
    font-size: 30px;
    margin-top: -35px;
}
div{
    margin: 0;
    padding: 0;
    
    font-style: normal;
    word-spacing: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: "PP Terrazzo", Arial, Helvetica, sans-serif;
}

#about{
    width: 12.5%;
    text-align: center;
    font-size: 30px;
    margin-top: -30px;
}

/*.mm{
  position: absolute;
  margin-left: 1300px;

}
.ss{
  position: absolute;
  margin-left: 1200px;
}
.aa{position: absolute;
   margin-left: 1400px;
    margin-top: 100px;}*/

a.black {
    color: #000;
    text-decoration: none;
    transition: color 50ms linear 0s;
}
img{
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  width:100%;
}
















  .grid-container{
    display: grid;
    /*border: 1px solid black;*/
  
    margin: 10px;
    min-height: 1400px;
    
    color: black

  }

  #section1{
    grid-template-columns:300px;
    /*justify-content: center;*/
    margin-top: 100px;
    grid-template-columns: auto;
   

    min-height: 300px;
  }
  #section2{
    grid-template-columns:300px;
    min-height: 300px;
    margin-top: 100px;

    grid-template-columns: auto auto;
  }
  #section3{
    grid-template-columns:300px;
    min-height: 300px;
    grid-template-columns: auto auto auto;
  }

   #section4{
    grid-template-columns:300px;
    min-height: 300px;
    grid-template-columns: auto auto auto auto;
  }

  #section5{
    grid-template-columns:300px;
    min-height: 300px;
    grid-template-columns: auto auto auto auto auto;
  }

   #section61{
    grid-template-columns:300px;
    min-height: 300px;
    margin-top: -10px;
    grid-template-columns: auto auto auto auto auto auto;
  }

  #section6{
    grid-template-columns:300px;
    min-height: 300px;
    margin-top: -30px;
    grid-template-columns: auto auto auto auto auto auto;
  }

   #section7{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -70px;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
  #section71{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -40px;
    grid-template-columns: auto auto auto auto auto auto auto;
  }
    #section8{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -100px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }
    #section81{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -70px;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

   #section9{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -120px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }

  #section91{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -100px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
  }

    #section10{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -150px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  }

   #section101{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -130px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  }

   #section11{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -160px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  }
   #section111{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -140px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  }
   #section12{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -160px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section121{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -160px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section13{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -180px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
     #section131{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -170px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section14{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -180px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

 #section15{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -200px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

 #section16{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -200px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section17{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -210px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section18{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -220px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

 #section19{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -220px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
   #section21{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -220px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }
   #section23{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -240px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

   #section25{
    grid-template-columns:300px;
    min-height: 300px;
    padding: 0px;
    margin-top: -250px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.item:hover .overlay {
  opacity: 1;
}



#navbar{
  display: grid;
  overflow: visible;
  grid-template-rows: 70px;
  margin-top: -70px;
  align-self: left;
  grid-template-columns: 80% auto auto auto;
}

.imgSize{
  width: 50px;
}




